[submodule "djangoProject"]
	path = djangoProject
	url = https://github.com/Yulian302/NeoAiDjango

[submodule "reactproject/neoai"]
	path = reactproject/neoai
	url = https://github.com/Yulian302/NeoAiReact
